<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet" media="screen" type="text/css"
	th:href="@{/bootstrap.css}" />
<link rel="stylesheet" media="screen" type="text/css"
	th:href="@{/logins.css}" />
<title>ESPACE ETUDIANT</title>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark"
		th:fragment="header">

		<a class="navbar-brand" th:href="@{/acceuil}">Accueil</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarsExample04" aria-controls="navbarsExample04"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample04">
			<ul class="navbar-nav mr-auto">
				<!--            <li class="nav-item" th:class="${#httpServletRequest.requestURI.contains('home')} ? 'nav-link active' : 'nav-link'">-->
				<li class="nav-item"
					th:class="${activePage == 'formulaireCV'} ? 'nav-item active' : 'nav-item'">
					<a class="nav-link" th:href="@{/thequeCV}"> creerCV <span
						class="sr-only"></span></a>
				</li>

				<!--            <li class="nav-item" th:class="${#httpServletRequest.requestURI.contains('home')} ? 'nav-link active' : 'nav-link'">-->
				<li class="nav-item"
					th:class="${activePage == 'offres'} ? 'nav-item active' : 'nav-item'">
					<a class="nav-link" th:href="@{/listeOffres}">Offre Emploi<span
						class="sr-only"></span></a>
				</li>
				<!--            <li class="nav-item" th:class="${#httpServletRequest.requestURI.contains('home')} ? 'nav-link active' : 'nav-link'">-->
				<li class="nav-item"
					th:class="${activePage == 'stage'} ? 'nav-item active' : 'nav-item'">
					<a class="nav-link" th:href="@{/FormulaireStage}">Stage<span
						class="sr-only"></span></a>
				</li>
				<li class="nav-item"
					th:class="${activePage == 'Orienter'} ? 'nav-item active' : 'nav-item'">
					<a class="nav-link" th:href="@{/FormulaireOrientation}">orientation<span
						class="sr-only"></span></a>
				</li>

				<!--            <li class="nav-item" th:class="${#httpServletRequest.requestURI.contains('contact')} ? 'nav-link active' : 'nav-link'">-->
				<li class="nav-item"
					th:class="${activePage == 'oriente'} ? 'nav-item active' : 'nav-item'">
					<a class="nav-link" th:href="@{/FormulaireOrientation}"></a>
				</li>
				<!--            <li class="nav-item" th:class="${#httpServletRequest.requestURI.contains('home')} ? 'nav-link active' : 'nav-link'">-->
				<li class="nav-item"
					th:class="${activePage == 'a propos'} ? 'nav-item active' : 'nav-item'">
					<a class="nav-link" th:href="@{/propos}">A propos<span
						class="sr-only"></span></a>
				</li>
				<!--            <li class="nav-item" th:class="${#httpServletRequest.requestURI.contains('contact')} ? 'nav-link active' : 'nav-link'">-->
				<li class="nav-item"
					th:class="${activePage == 'contact'} ? 'nav-item active' : 'nav-item'">
					<a class="nav-link" th:href="@{/Contact}">Contact</a>
				</li>

			</ul>
		</div>
		<a class="navbar-brand" th:href="@{/acceuil}"><img
			class="fit-picture" alt="La photo d'inscription des etudinats"
			th:src="@{/logo.png}" align=right width="60"> </a>
	</nav>
	<br>
	<header>
		<div class="jumbotron text-center">
			<a class="navbar-brand" th:href="@{/acceuil}"><h1>BIENVENUE
					SUR ESPACE ETUDIANT</h1></a>
		</div>
	</header>
<!-- 	<img class="fit-picture" alt="La photo d'inscription des etudinats" -->
<!-- 		th:src="@{/uni.png}" align=right width="500" height="600"> -->
	<form th:action="@{/acceuil}" method="get" th:objet="${user}">
	<img class="fit-picture" alt="La photo d'inscription des etudinats"
		th:src="@{/online-learning.png}" align=right width="500" height="500">
		<br>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-offset-1">
					<header>
						<nav>
							<h3>Gerez Votre Carriere</h3>
						</nav>
					</header>
					<h6>Creez et gerez votre CV</h6>
					<br>
					<h6>Mettez a jour votre CV</h6>
					<br>
					<h6>Rechercher et consulter les offres</h6>
					<br>

					<div>
						<a th:href="@{/thequeCV}"><button type="button"
								class="btn btn-info btn-md ">
								<h6 style="color: white;">Creer votre CV</h6>
							</button></a>
					</div>
					<br>
					<div>
						<a th:href="@{/infoEtudiant}"><button type="button"
								class="btn btn-info btn-md ">
								<h6 style="color: white;">Mon Panier</h6>
							</button></a>
					</div>
					<br>
					<div>
						<a th:href="@{/infoEtudiant}"><button type="button"
								class="btn btn-info btn-md ">
								<h6 style="color: white;">Messages Recu</h6>
							</button></a>
					</div>
				</div>
				<div class="col-md-5 col-sm-offset-0">
					<header>
						<nav>
							<h3>Compte de L'Etudiant</h3>
						</nav>
					</header>
					<table>
						<tr>
							<td><label>Nom :</label></td>
							<td><input type="text" name="nom" size=70
								th:value="${user.nom}" readonly="true"></td>
						</tr>
						<tr>
							<td><label>Prenom :</label></td>
							<td><input type="text" name="prenom" size=70
								th:value="${user.prenom}" readonly="true" /></td>
						</tr>
						<tr>
							<td><label>Niveau :</label></td>
							<td><input type="text" name="niveau" size=70
								th:value="${user.niveauEtude}" readonly="true" /></td>
						</tr>
						<tr>
							<td><label>AdresseEmail :</label></td>
							<td><input type="email" name="email" size=70
								th:value="${user.addresseEmail}" readonly="true" /></td>
						</tr>
						<tr>
							<td><label>Adresse :</label></td>
							<td><input type="text" name="adresse" size=70
								th:value="${user.adresse}" readonly="true" /></td>
						</tr>
						<tr>
							<td><label>DateNaissance:</label></td>
							<td><input type="date" name="dateNaissance" size=70
								th:value="${user.dateNaissance}" readonly="true" /></td>
						</tr>
						<tr>
							<td><label>Numero tel :</label></td>
							<td><input type="tel" name="telephone" size=70
								th:value="${user.tel}" /></td>
						</tr>
					</table>
				</div>
			</div>
			<br>
			<div class="row col-md-offset-7">

				<header>
					<nav>
						<h3>Rechercher</h3>
					</nav>
				</header>
				<div class="row">
				<div class="col-md-4">
					<input type="radio" name="emploi" value="Emploi"> Emploi
				</div>
				<div class="col-md-4  ">
					<input type="radio" name="stage" value="Stage"> Stage
				</div>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<select name="experience" id="experience">
							<option value="Bac + 1">Licence L1</option>
							<option value="Bac + 2">Licence L2</option>
							<option value="Bac + 3">Licence L3</option>
							<option value="Bac + 4">Master 1</option>
							<option value="Bac + 5">Master 2</option>
							<option value="Bac + 5">Ingenieur</option>
							<option value="Doctorant">Doctorant</option>
						</select>
					</div>
					<div class="col-md-3 col-md-offset-1">
						<select name="experience" id="experience">
							<option value="Bac + 1">Licence L1</option>
							<option value="Bac + 2">Licence L2</option>
							<option value="Bac + 3">Licence L3</option>
							<option value="Bac + 4">Master 1</option>
							<option value="Bac + 5">Master 2</option>
							<option value="Bac + 5">Ingenieur</option>
							<option value="Doctorant">Doctorant</option>
						</select>
					</div>
					<br>
					<div class="col-md-3">
						<button type="submit" class="btn btn-success col-sm-3"><img alt="" th:src="@{send.png}" width="30"></button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- site wide footer -->
	<footer class="text-center text-lg-start bg-dark text-muted">
		<!-- Section: Social media -->
		<section
			class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
			<!-- Left -->
			<div class="me-5 d-none d-lg-block">
				<span>Rejoignez-nous sur les reseaux sociaux :</span>
			</div>
			<!-- Left -->

			<!-- Right -->
			<div>
				<a href="https://mobile.facebook.com/home.php?_rdc=1&_rdr"
					class="me-4 text-reset"> <img alt="images"
					th:src="@{/facebook.png}" width="40">
				</a> <a href="" class="me-4 text-reset"> <img alt="images"
					th:src="@{/tweet.png}" width="40">
				</a> <a href="" class="me-4 text-reset"> <img alt="images"
					th:src="@{/google.png}" width="40">
				</a> <a href="" class="me-4 text-reset"> <img alt="images"
					th:src="@{/insta.png}" width="40">
				</a> <a href="" class="me-4 text-reset"> <img alt="images"
					th:src="@{/link.png}" width="40">
				</a> <a href="https://github.com/" class="me-4 text-reset"> <img alt="images"
					th:src="@{/git.png}" width="40">
				</a> <a href="https://www.youtube.com/watch?v=vumpHtXmosw&t=535s"
					class="me-4 text-reset"> <img alt="" th:src="@{/youtube.png}"
					width="40">
				</a>
			</div>
			<!-- Right -->
		</section>
		<!-- Section: Social media -->

		<!-- Section: Links  -->
		<section class="">
			<div class="container text-center text-md-start mt-5">
				<!-- Grid row -->
				<div class="row mt-3">
					<!-- Grid column -->
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
						<!-- Content -->
						<h6 class="text-uppercase fw-bold mb-4">
							<i class="fas fa-gem me-3"></i>Dark-Scorpion
						</h6>
						<p>Dark-Scorpion est un startup de developpement des logiciels
							desktop,mobile et des formations en ligne et domicile sur tous
							les langages de developpement.</p>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">Les utilisateurs du
							plateforme</h6>
						<p>
							<a th:href="@{/infoEtudiant}" class="text-reset">Etudiant</a>
						</p>
						<p>
							<a th:href="@{/infosEntreprise}" class="text-reset">Entreprise</a>
						</p>
						<p>
							<a th:href="@{/infosUniversite}" class="text-reset">Universite</a>
						</p>
						<p>
							<a th:href="@{/administrateur}" class="text-reset">Administrateur</a>
						</p>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">Lens utiles</h6>
						<p>
							<a th:href="@{/}" class="text-reset">Accueil</a>
						</p>
						<p>
							<a href="#!" class="text-reset">Orientation</a>
						</p>
						<p>
							<a th:href="@{/propos}" class="text-reset">A propos</a>
						</p>
						<p>
							<a th:href="@{/Contact}" class="text-reset">Contact</a>
						</p>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">Contact</h6>
						<p>
							<i class="fas fa-home me-3"></i> Senegal Dakar, Fass-cassier
						</p>
						<p>
							<i class="fas fa-envelope me-3"></i> cheicknadoumbia100@gmail.com
						</p>
						<p>
							<i class="fas fa-phone me-3"></i>00221 77 443 57 52
						</p>
						<p>
							<i class="fas fa-print me-3"></i> + 221 76 768 93 85
						</p>
					</div>
					<!-- Grid column -->
				</div>
				<!-- Grid row -->
			</div>
		</section>
		<!-- Section: Links  -->

		<!-- Copyright -->
		<div class="text-center p-4"
			style="background-color: rgba(0, 0, 0, 0.05);">
			Copyright © 2022 Cheickna Doumbia 00221 77 443 52 57 <a
				class="text-reset fw-bold" href="https://mdbootstrap.com/">GenieDev.com</a>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->
</body>
</html>