<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet" media="screen" type="text/css"
	th:href="@{/bootstrap.css}" />
<title> Header ACcueil Principal </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/AccueilPrincipal}">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/acceuil}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/EspaceEtudiant}">Espace Etudiant</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" th:href="@{/EspaceEntreprise}">Espace Entreprise</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" th:href="@{/EspaceUniversite}">Espace Universitaire</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" th:href="@{/acceuil}">Creer CV</a></li>
            <li><a class="dropdown-item" th:href="@{/acceuil}">Creer Offres</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item"th:href="@{/acceuil}">Creer Demande d'inscription</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</body>
</html>